langchain
PyMuPDF 
streamlit
pandas
requests
openai
altair
numpy
matplotlib
seaborn
llama-cpp-python
llama_index
llama-index>=0.10.20
llama-index-llms-ollama
llama-index-embeddings-huggingface
scikit-learn
statsmodels
openpyxl
wbdata
plotly
streamlit-authenticator
PyYAML
bcrypt

scikit-learn
