streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn>=0.24
statsmodels
plotly
altair
transformers
requests
PyYAML
import random
import pandas as pd
bcrypt
openai
wbdata
google-generativeai>=0.4.1
shap
sqlalchemy
joblib
xgboost
psycopg2-binary
